*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #3f3d3d;
}

#rocket-div{
    /* border: 1px red solid; */
}
#rocket{
    height:100px;
    transform :rotateZ(-45deg);
    animation-name: fly;
    position: relative;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* animation-direction: ; */
}

#left-fire, #right-fire{
    animation: fire-blink 2s infinite linear;
    animation-direction: alternate;
    
}  

#middle-fire{
    animation: fire-move 2s infinite linear;
    animation-direction: alternate;
    transform-origin: center;
    transform-box: fill-box;
}

#Window{
    animation: tint 4s infinite linear;
    animation-direction: alternate-reverse;
}

@keyframes fly{
    0%{
        top:10px;
        left:0px;
        /* margin-top:0px; */
        transform: rotatez(45deg);
        /* margin-left:10%; */
        transform: scale(1)
        /* transform :rotateZ(-30deg); */
    }
    25%{
        top:10px;
        left:1300px;
        /* margin-top: 0px; */
        /* margin-left:90%; */
        transform: rotatez(135deg);
        /* transform: rotateZ(-100deg) */
    }
    50%{
        top:660px;
        left:1300px;
        /* margin-top: 660px;
        margin-left:90%; */
        transform: rotatez(215deg);
    }
    75%{
        top:660px;
        left:10px;
        /* margin-top: 660px;
        margin-left:0%; */
        transform: rotatez(315deg);

    }
    100%{
        top:10px;
        left:10px;
        margin-top:0px;
        transform: rotatez(45deg);
        /* margin-left:10% */
        /* transform :rotateZ(-30deg); */
    }
}

@keyframes fire-blink{
    0%{
        /* transform :rotateZ(0deg); */
        fill: rgb(160, 9, 9);
        height:100%;
        transform: scalex(1);
    }
    100%{
        /* transform :rotateZ(360deg); */
        fill: rgb(230, 186, 44);
        height:200%;
        transform: scalex(0.9);
    }
}

@keyframes fire-move{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(0.9);
    }
}

@keyframes tint{
    from {
        fill: #11cab1da;
    }
    to {
        fill: #ffea2fda;
    }
}


