.star{
    height:50px;
    animation: glow 1s infinite;
    position: fixed;
    animation-direction: alternate;
}

#left-section{
    animation: glow-color1 4s infinite linear;
    animation-direction: alternate-reverse;
}

#right-section{
    animation: glow-color2 4s infinite linear;
    animation-direction: alternate-reverse;
}

@keyframes glow{
    from{
        transform: scale(0.4) rotatez(45deg);
    }
    to{
        transform: scale(0.7) rotatez(0deg);
    }
}

@keyframes glow-color1{
    from {
        fill: #ff5100da;
    }
    to {
        fill: #f6fa00da;
    }
}

@keyframes glow-color2{
    from {
        fill: #fffb00ef;
    }
    to {
        fill: #fa4700da;
    }
}

#stars-div2{
    position: relative;
    top:400px;
    left:300px
}
#stars-div3{
    position: relative;
    top:100px;
    left:500px
}

#stars-div4{
    position: relative;
    top:450px;
    left:900px
}

#stars-div5{
    position: relative;
    top:50px;
    left:900px
}

#stars-div6{
    position: relative;
    top:450px;
    left:50px
}


#stars-div7{
    position: relative;
    top:500px;
    left:600px
}
